<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Registration</h2>
                <h3 class="section-subheading text-muted"> Registration is Open!!! (as of Oct 3). Please note that the early registration deadline and Author Registration deadlines are October 7th.
<a href="https://cvent.me/3VaMYY">Click here to Register!</a>
                </h3>
                    
                <h3>Early Registration Deadline: <s>September 17, 2024</s> October 7, 2024</h3> 
                <h3>Author Registration Deadline: <s>September 17, 2024</s> October 7, 2024</h3> 
<center>
                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                      overflow:hidden;padding:10px 5px;word-break:normal;}
                    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
                    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
                    .tg .tg-7vkn{color:#212121;font-weight:bold;text-align:left;vertical-align:top}
                    .tg .tg-0lax{text-align:left;vertical-align:top}
                    .tg .tg-47nm{color:#212121;font-weight:bold;text-align:right;vertical-align:top}
                    .tg .tg-ciu7{color:#333333;font-weight:bold;text-align:right;vertical-align:top}
                    </style>
                    <table class="tg">
                    <thead>
                      <tr>
                        <th class="tg-0lax"><span style="font-weight:bold">CATEGORY</span></th>
                        <th class="tg-1wig">EARLY FEE</th>
                        <th class="tg-1wig">REGULAR FEE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Authors (IEEE Member)</span></td>
                        <td class="tg-47nm"><span style="color:#212121">700</span></td>
                        <td class="tg-47nm"><span style="color:#212121">800</span></td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Authors (Non IEEE Member)</span></td>
                        <td class="tg-ciu7">840</td>
                        <td class="tg-ciu7">960</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Participant IEEE Member</span></td>
                        <td class="tg-ciu7">200</td>
                        <td class="tg-ciu7">300</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Participant: Non Member</span></td>
                        <td class="tg-ciu7">240</td>
                        <td class="tg-ciu7">360</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Student - IEEE</span></td>
                        <td class="tg-ciu7">150</td>
                        <td class="tg-ciu7">250</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Student - Non IEEE</span></td>
                        <td class="tg-ciu7">180</td>
                        <td class="tg-ciu7">300</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Virtual non-authors</span></td>
                        <td class="tg-ciu7">100</td>
                        <td class="tg-ciu7">200</td>
                      </tr>
                    </tbody>
                    </table>
    Please note that each paper requires an author to register at the Author rate (either "Author IEEE Member" or ""Author Non IEEE Member"). This is necessary for each paper to appear in the proceedings (both long and short-form papers). 
If you are a student but you are also the only registrant for a paper, use the author rate.  If you have any questions about what category your registration would be, 
please send them to auroraschmidt "at" gmail "dot" com. 
    </center>

                <!-- <h3 class="section-subheading text-muted"> Please use the general <a href="https://icst2020.info/attending/registration" target="_blank">ICST'20</a> registration site.</a></h3> -->
            </div>
        </div>
</div>
</section>

<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program Schedule</h2>
                <h3 class="section-subheading text-muted"> All times are given in Central Daylight Time (GMT -05:00) </h3>
     <center>
                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td, .tg th {border:none; font-family:Arial, sans-serif; font-size:14px; overflow:hidden; padding:10px 5px; word-break:normal;}
                    .tg .tg-1wig {font-weight:bold; text-align:left; vertical-align:top;}
                    .tg .tg-7vkn {color:#212121; font-weight:bold; text-align:left; vertical-align:top;}
                    .tg .tg-0lax {text-align:left; vertical-align:top;}
                    .tg .tg-47nm {color:#212121; font-weight:bold; text-align:left; vertical-align:top;}
                    .tg .tg-ciu7 {color:#333333; font-weight:bold; text-align:left; vertical-align:top;}
                </style>
                    <table class="tg">
                    <thead>
                      <tr>
                        <th class="tg-0lax"><span style="font-weight:bold">Day 1, October 10th</span></th>
                        <th class="tg-1wig">Event</th>
                        <th class="tg-1wig">Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">8:00 - 9:00</span></td>
                        <td class="tg-47nm"><span style="color:#212121">Check-in Coffee/Breakfast </span></td>
                        <td class="tg-47nm"><span style="color:#212121"> </span></td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">9:00 - 10:00</span></td>
                        <td class="tg-ciu7">Keynote 1</td>
                        <td class="tg-ciu7">Dr. Dragos Margineantu</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">10:00 - 10:30</span></td>
                        <td class="tg-ciu7">Break / Coffee</td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">10:30 - 11:45</span></td>
                        <td class="tg-ciu7">Session 1 </td>
                        <td class="tg-ciu7">Full Paper Presentations<br>
                            <span style="font-size: 12px;">
                                <br>
                            "Designing Robust Cyber-Defense Agents with Evolving Behavior Trees." 
Nicholas Potteiger, Ankita Samaddar, Hunter Bergstrom and Xenofon Koutsoukos (10:30 AM – 10:55 AM)<br>
 <br>
"Who is Responsible? Explaining Safety Violations in Multi-Agent Cyber-Physical Systems." 
Luyao Niu, Hongchao Zhang, Dinuka Sahabandu, Bhaskar Ramasubramanian, Andrew Clark and Radha Poovendran (10:55 AM – 11:20 AM)<br>
 <br>
"Domain Knowledge Elicitation for Data Curation to Promote Trustworthiness in Artificial Intelligence." 
Mary Versa Clemens-Sewall, Emma Rafkin and Christopher Cervantes (11:20 AM – 11:45 AM)
                                </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">11:45 - 13:15</span></td>
                        <td class="tg-ciu7">Lunch <i>(on your own, lunch not provided)</i></td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">13:15 - 14:30</span></td>
                        <td class="tg-ciu7">Session 2</td>
                        <td class="tg-ciu7">Full Paper Presentations<br>
                            <span style="font-size: 12px;">
                                <br>
                            "Graph-Based Grounding in a Conversational Clinical Decision Support System. 
Samuel Barham, Michael Kelbaugh, Devin Ramsden, Chase Chandler, Adam Tobin-Williams, Ben Elhadad, Georgia Cooper and Kari Alexander (13:15 – 13:40)<br><br>

"Estimating Data Requirements for Learning-Enabled Systems using Metadata." 
Chi Phuong Ngoc Huynh and James Weimer (13:40 – 14:05)<br><br>

"Shrinking POMCP: A Framework for Real-Time UAV Search and Rescue." 
Yunuo Zhang, Luo Baiting, Ayan Mukhopadhyay, Daniel Stojcsics, Daniel Elenius, Anirban Roy, Susmit Jha, Miklos Maroti, Xenofon Koutsoukos, Gabor Karsai and Abhishek Dubey (14:05 – 14:30)
                                </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">14:30 - 15:00</span></td>
                        <td class="tg-ciu7">Break / Coffee</td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">15:00 - 17:00</span></td>
                        <td class="tg-ciu7">Work-in-Progress Talks / Poster Session</td>
                        <td class="tg-ciu7">Work-in-Progress papers will have lightning talks followed by a poster session<br>
                            <span style="font-size: 12px;">
                                <br>
"New Framework for Defining Command and Control Structure of Complex Aviation Systems." 
Walter Bender and Michael Castle (15:00 – 15:06)<br><br>

"Mixed-Reality Testbed for Autonomous Fixed-Wing UAVs Human-Autonomy Teaming." 
Worawis Sribunma, Chuhao Deng, Li-Yu Lin, James Goppert, Sabine Brunswicker and Joe Roberts (15:06 – 15:12)<br><br>

"Towards Verification-Driven Control Reinforcement Learning in Autonomous Systems." 
Stefan Mitsch (15:12 – 15:18)<br><br>

"Leveraging RAG-LLM to Translate C++ to Rust." 
Ahmet Okutan, Samuel Merten, Christoph Michael and Benjamin Ryjikov (15:18 – 15:24)<br><br>

"Towards Trustworthy Distributed AI Demand Response." 
Raphael Norman-Tenazas, Cameron Hickert, Tamim Sookoor, Aurora Schmidt, Edward Staley, Joseph Maurio, Jesse Silverberg, Paul Wood and Yair Amir (15:24 – 15:30) <br><br>

"Analyzing Neural Network Robustness Using Graph Curvature."  
Shuhang Tan, Jayson Sia, Paul Bogdan and Radoslav Ivanov (15:30 – 15:36)<br><br>

"Neuro-Symbolic Program Synthesis for Multi-Hop Natural Language Navigation." 
William English, Dominic Simon, Md Rubel Ahmed, Sumit Jha and Rickard Ewetz (15:36 – 15:42)<br><br>

"Solving Mystery Planning Problems Using Category Theory, Functors, and Large Language Models." 
Sumit Kumar Jha, Susmit Jha, Rickard Ewetz and Alvaro Velasquez (15:42 – 15:48)
                                
"Reliability Evaluation of CNN-enabled Systems in Adversarial Scenarios." 
Karen da Mata, Zakaria Faddi, Priscila Silva, Vidhyashree Nagaraju, Susmita Ghosh, Gokhan Kul and Lance Fiondella (15:48 – 15:54) <br><br>
                                </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">17:00 - 19:00</span></td>
                        <td class="tg-ciu7">Reception with Light Refreshments</td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                    <thead>
                      <tr>
                        <th class="tg-0lax"><span style="font-weight:bold">Day 2, October 11th</span></th>
                        <th class="tg-1wig">Event</th>
                        <th class="tg-1wig">Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">8:00 - 9:00</span></td>
                        <td class="tg-47nm"><span style="color:#212121">Check-in Coffee/Breakfast </span></td>
                        <td class="tg-47nm"><span style="color:#212121"> </span></td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">9:00 - 10:00</span></td>
                        <td class="tg-ciu7">Keynote 2</td>
                        <td class="tg-ciu7">Dr. Alvaro Velasquez</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">10:00 - 10:30</span></td>
                        <td class="tg-ciu7">Break / Coffee</td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">10:30 - 11:45</span></td>
                        <td class="tg-ciu7">Session 3 </td>
                        <td class="tg-ciu7">Full Paper Presentations<br>
                            <span style="font-size: 12px;">
                                <br>
"Dynamic View Translation for Robust Multi-Agent Autonomy." 
Grayson Byrd, Dan Zhang, Feng Luo and Venkat Krovi (10:30 AM – 10:55 AM) <br><br> 

"GPU Partitioning & Neural Architecture Sizing for Safety-Driven Sensing in Autonomous Systems." 
Shengjie Xu, Clara Hobbs, Yukai Song, Bineet Ghosh, Sharmin Aktar, Sichuang Li, Kyle Kessler, Lei Yang, Yi Sheng, Weiwen Jiang, Jingtong Hu, Parasara Sridhar Duggirala and Samarjit Chakraborty (10:55 AM – 11:20 AM)<br><br> 

"Pinpointing Actuator Attacks: A Novel Diagnostic Framework for Cyber-Physical Systems." 
Zifan Wang, Qinru Qiu and Fanxin Kong (11:20 AM – 11:45 AM)
                                </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">11:45 - 13:15</span></td>
                        <td class="tg-ciu7">Lunch <i>(on your own, lunch not provided)</i></td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">13:15 - 17:00</span></td>
                        <td class="tg-ciu7">Workshops </td>
                        <td class="tg-ciu7">Birds of a Feather Break-out Sessions and Panel Discussion<br><br>
                        <i>Workshop 1</i>: Recent Trends and Challenges in Sequential Decision-Making<br><br>
                        <i>Workshop 2</i>: Safe Autonomous Medical Systems<br><br>
                            In this birds of a feather session, we will have a moderated discussion on the challenges and opportunities in safely automating medical-related systems spanning patient diagnostics, invasive procedures, and emergency services. The aim of this session is to share experiences, ongoing work, and potential impactful directions in an effort to spawn collaboration and innovation within autonomous medical systems.  The forum will begin with a brief synopsis of participants experiences and current research directions, followed by a moderated discussion where all participants are encouraged to express their own experiences in this hard-to-penetrate domain.
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">17:00 - 17:15</span></td>
                        <td class="tg-ciu7">Conference Wrap-Up</td>
                        <td class="tg-ciu7"> </td>
                      </tr>
                    </tbody>
                    </table>
    </center>

            </div>
        </div>
</div>
</section>


<section id="venueinfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Venue Location</h2>
                <p> </p>
                The ICAA'24 is being held in the Jacobs-Featheringill Hall in the Vanderbilt School of Engineering. <br><br>
                The physical address for participants to find Featheringill or “FGH” is: 400 24th Avenue South, Nashville, TN 37240.<br><br>
                
                The main session(s) will be held in the lecture hall 134. <br>
The workshop/breakout rooms are 132 (Workshop 1) and 136 (Workshop 2), on either side of the lecture hall.<br><br>
The lunch/breaks/reception will be held in the atrium outside of the lecture hall (shown in purple in the map). 
                Registration tables will also be located there, as well as the poster session.<br>

                <img src="jacobsfeatheringill.png" alt="Map of First Floor of Jacobs-Featheringill" width="500">
                
            </div>
        </div>
</div>
</section>

<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Lodging</h2>
                <p>Following are near by hotels around the conference venue.</p>

                <p><a href="https://www.ihg.com/holidayinn/hotels/us/en/nashville/bnavb/hoteldetail">Holiday Inn Vanderbilt/Laurel</a>: <br /><em>Distance from Vanderbilt: 0.6 mile</em><br />615-327-4707<br />2613 West End Ave, Nashville, TN 37203<br />Nashville, TN 37203</p>
                <p>&nbsp;</p>

                <p><a href="https://www.hilton.com/en/hotels/bnauvhx-hampton-suites-nashville-vanderbilt-elliston-place/">
                Hampton Inn & Suites Nashville-Vanderbilt-Elliston Place</a>: <br /><em>Distance from Vanderbilt: 0.6 mile</em><br />
                615-320-6060<br />
                2330 Elliston Pl, Nashville, TN 37203<br />Nashville, TN 37203</p>
                <p>&nbsp;</p>

                <p><a href="https://www.marriott.com/en-us/hotels/bnaav-nashville-marriott-at-vanderbilt-university/overview/">
                Nashville Marriott at Vanderbilt University
                </a>: <br /><em>Distance from Vanderbilt: 0.5 mile</em><br />
                615-321-1300<br />
                2555 West End Ave, Nashville, TN 37203<br />Nashville, TN 37203</p>
                <p>&nbsp;</p>

                <p><a href="https://www.hilton.com/en/hotels/bnaeses-embassy-suites-nashville-at-vanderbilt/">
                Embassy Suites Vanderbilt</a>: <br /><em>Distance from Vanderbilt: 1.4 mile</em><br />
                615-320-8899<br />
                1811 Broadway, Nashville, TN 37203<br />Nashville, TN 37203</p>
                <p>&nbsp;</p>


                <!-- <h3 class="section-subheading text-muted"> Please use the general <a href="https://icst2020.info/attending/registration" target="_blank">ICST'20</a> registration site.</a></h3> -->
            </div>
        </div>
</div>
</section>



<section id="accepted">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Accepted Papers</h2>
                <p>The following is the list of accepted papers, in random order. (Program is forthcoming) </p>
                
                <h3 class="section-subheading text-muted"> Full Papers </h3>
Nicholas Potteiger, Ankita Samaddar, Hunter Bergstrom and Xenofon Koutsoukos. "Designing Robust Cyber-Defense Agents with Evolving Behavior Trees"<br><br>
                
Grayson Byrd, Dan Zhang, Feng Luo and Venkat Krovi. "Dynamic View Translation for Robust Multi-Agent Autonomy"<br><br>
                
Luyao Niu, Hongchao Zhang, Dinuka Sahabandu, Bhaskar Ramasubramanian, Andrew Clark and Radha Poovendran. Who is Responsible? "Explaining Safety Violations in Multi-Agent Cyber-Physical Systems"<br><br>
                
Shengjie Xu, Clara Hobbs, Yukai Song, Bineet Ghosh, Sharmin Aktar, Sichuang Li, Kyle Kessler, Lei Yang, Yi Sheng, Weiwen Jiang, Jingtong Hu, Parasara Sridhar Duggirala and Samarjit Chakraborty. "GPU Partitioning & Neural Architecture Sizing for Safety-Driven Sensing in Autonomous Systems"<br><br>
                
Zifan Wang, Qinru Qiu and Fanxin Kong. "Pinpointing Actuator Attacks: A Novel Diagnostic Framework for Cyber-Physical Systems"<br><br>
                
Yunuo Zhang, Luo Baiting, Ayan Mukhopadhyay, Daniel Stojcsics, Daniel Elenius, Anirban Roy, Susmit Jha, Miklos Maroti, Xenofon Koutsoukos, Gabor Karsai and Abhishek Dubey. "Shrinking POMCP: A Framework for Real-Time UAV Search and Rescue<br><br>
                
Mary Versa Clemens-Sewall, Emma Rafkin and Christopher Cervantes. "Domain Knowledge Elicitation for Data Curation to Promote Trustworthiness in Artificial Intelligence"<br><br>
                
Samuel Barham, Michael Kelbaugh, Devin Ramsden, Chase Chandler, Adam Tobin-Williams, Ben Elhadad, Georgia Cooper and Kari Alexander. "Graph-Based Grounding in a Conversational Clinical Decision Support System"<br><br>
                
Chi Phuong Ngoc Huynh and James Weimer. "Estimating Data Requirements for Learning-Enabled Systems using Metadata"<br>
 
                <h3 class="section-subheading text-muted"> Work-in-Progress Short Papers </h3>
                
Karen da Mata, Zakaria Faddi, Priscila Silva, Vidhyashree Nagaraju, Susmita Ghosh, Gokhan Kul and Lance Fiondella. "Reliability Evaluation of CNN-enabled Systems in Adversarial Scenarios"<br><br>
                
Walter Bender and Michael Castle. "New Framework for Defining Command and Control Structure of Complex Aviation Systems"<br><br>
                
Worawis Sribunma, Chuhao Deng, Li-Yu Lin, James Goppert, Sabine Brunswicker and Joe Roberts. "Mixed-Reality Testbed for Autonomous Fixed-Wing UAVs Human-Autonomy Teaming"<br><br>
                
Ahmet Okutan, Samuel Merten, Christoph Michael and Benjamin Ryjikov. "Leveraging RAG-LLM to Translate C++ to Rust"<br><br>
                
Raphael Norman-Tenazas, Cameron Hickert, Tamim Sookoor, Aurora Schmidt, Edward Staley, Joseph Maurio, Jesse Silverberg, Paul Wood and Yair Amir. "Towards Trustworthy Distributed AI Demand Response"<br><br>
                
Shuhang Tan, Jayson Sia, Paul Bogdan and Radoslav Ivanov. "Analyzing Neural Network Robustness Using Graph Curvature"<br><br>
                
William English, Dominic Simon, Md Rubel Ahmed, Sumit Jha and Rickard Ewetz. "Neuro-Symbolic Program Synthesis for Multi-Hop Natural Language Navigation"<br><br>
                
Sumit Kumar Jha, Susmit Jha, Rickard Ewetz and Alvaro Velasquez. "Solving Mystery Planning Problems Using Category Theory, Functors, and Large Language Models"<br>
 

                
            </div>
        </div>
</div>
</section>




