<!-- Portfolio Grid Section -->

<!-- <section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.data.twenty_20.speakers %}
            <div class="col-md-4 col-sm-6 speakers-item">
                <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/icaa2023/css/2020_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
coming soon
    </div>
</section> 
-->


    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization</h2>
                    <!--<h3 class="section-subheading text-muted"></h3>-->
                </div>
            </div>

            <!--background color-->
              <script type="text/javascript">
                  document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
              </script>

              <!-- team1: this section wraps the team members as a container-->
                <section class="cf team-container team-container-top black-frame">
                    <div class="col-lg-12 text-center">
                        {% for team in site.data.twenty_20.teams_1 %}
                        <div class="col-md-4 col-sm-6 speakers-item">
                          <!-- <img class="team-photo" src="/icaa2023/css/2020_style/img/team/{{ team.img }}"> -->
                          <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
                          <h3>{{ team.name }}</h3>
                          <p> 
                            <span>{{ team.position }}</span> <br>
                            <span> {{ team.affiliation }}</span> <!--<br>-->
                            <!--<a class="url" href="{{ team.url }}"><span >Home page</span></a>-->
                            </p>
                        </div> 
                        {% endfor %}
                    </div>
                </section>
            </div>
        
            <div class="container">
            <!-- team2: this section wraps the Steering Committee as a container-->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Steering Committee</h2>
                </div>
            </div>
                
                <section class="cf steering-container black-frame">
                    <div class="col-lg-12 text-center">
                        {% for team in site.data.twenty_20.teams_2 %}
                        <div class="col-md-4 col-sm-6 speakers-item">
                          <!-- <img class="team-photo" src="/icaa2023/css/2020_style/img/team/{{ team.img }}"> -->
                          <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
                          <h3>{{ team.name }}</h3>
                          <span> {{ team.affiliation }}</span> <br>
                          <!-- <p> 
                            <span>{{ team.position }}</span> <br>
                            <span> {{ team.affiliation }}</span> <br>
                            <a class="url" href="{{ team.url }}"><span >Home page</span></a>
                            </p>
                           -->
                        </div> 
                        {% endfor %}
                    </div>
                </section>
            </div>
        
<br>
<br>        
            <div class="container">
            <!-- team2: this section wraps the Steering Committee as a container-->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technical Program Committee</h2>
                </div>
            </div>
                     		
<p class="p2"><span class="s1">Matthias Althoff, Technical University of Munich</span></p>
<p class="p2"><span class="s1">Alessandro Biondi, Scuola Superiore Sant'Anna</span></p>
<p class="p2"><span class="s1">Paul Bogdan, University of Southern California</span></p>
<p class="p2"><span class="s1">Sanjoy Baruah, Washington University in St. Louis</span></p>
<p class="p2"><span class="s1">Yinzhi Cao, Johns Hopkins University</span></p>
<p class="p2"><span class="s1">Jyotirmoy Deshmukh, University of Southern California</span></p>
<p class="p2"><span class="s1">Chinwendu Enyioha, University of Central Florida</span></p>
<p class="p2"><span class="s1">Georgios Fainekos, Toyota NA R&amp;D</span></p>
<p class="p2"><span class="s1">Lipsy Gupta, Kansas State University</span></p>
<p class="p2"><span class="s1">Radoslav Ivanov, Rensselaer Polytechnic Institute</span></p>
<p class="p2"><span class="s1">Taylor T Johnson, Vanderbilt University</span></p>
<p class="p2"><span class="s1">Fanxin Kong, University of Notre Dame</span></p>
<p class="p2"><span class="s1">Xenofon Koutsoukos, Vanderbilt University</span></p>
<p class="p2"><span class="s1">Jared Markowitz, Johns Hopkins University Applied Physics Laboratory</span></p>
<p class="p2"><span class="s1">Anastasia Mavridou, KBR / NASA Ames Research Center</span></p>
<p class="p2"><span class="s1">Stefan Mitsch, DePaul University</span></p>
<p class="p2"><span class="s1">Ian Mitchell, The University of British Columbia</span></p>
<p class="p2"><span class="s1">Alessandro Papadopoulos, Mälardalen University</span></p>
<p class="p2"><span class="s1">Christopher Rouff, Johns Hopkins University Applied Physics Laboratory</span></p>
<p class="p2"><span class="s1">Yasser Shoukry, University of California, Irvine</span></p>
<p class="p2"><span class="s1">Houbing Song, University of Maryland, Baltimore County</span></p>
<p class="p2"><span class="s1">Oleg Sokolsky, University of Pennsylvania</span></p>
<p class="p2"><span class="s1">Ali Tekeoglu, University of New Brunswick &amp; Canadian Institute for Cybersecurity</span></p>
<p class="p2"><span class="s1">Eduardo Tovar, Polytechnic Institute of Porto</span></p>
<p class="p2"><span class="s1">Kyriakos Vamvoudakis, Georgia Institute of Technology</span></p>
<p class="p2"><span class="s1">Marilyn Wolf, University of Nebraska</span></p>

		    
		    </ul>
                </div>
            </div>
    </section>

    <section id="previous">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous Editions</h2>
                    <!--<h3 class="section-subheading text-muted"></h3>-->
                </div>
            </div>

            <!--background color-->
              <script type="text/javascript">
                  document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
              </script>
            <div class="container">
                <div class="col-lg-12">
                    <!-- <h2>
                        Technical program committee 
                    </h2> -->
                    <ul>
                       
                        <li><b>2022 IEEE International Conference on Assured Autonomy (ICAA'22)</b>,   <a href="https://iaa.jhu.edu/icaa/" target="_blank">Johns Hopkins University - Virtual Conference</a></li>     
                        <li><b>2023 IEEE International Conference on Assured Autonomy (ICAA'23)</b>,   <a href="https://icaa-conf.github.io/icaa2023/" target="_blank">Johns Hopkins University Applied Physics Laboratory</a></li>     
               
                   </ul>
                </div>
            </div>
    </section>
