<!DOCTYPE html>
<html>

  {% include 2024_data/head.html %}


    <body id="page-top" class="index">

    {% include 2024_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">ICAA 2024<br></div>
                <div class="intro-lead-in">The 3rd International Conference on Assured Autonomy</div>
                <div class="intro-lead-in">Vanderbilt University
                    Nashville, TN </div>
                    <div class="intro-lead-in">October 10-11, 2024</div>
            </div>
        </div>
    </header>

    {% include 2024_data/speakers.html %}
    {% include 2024_data/intro.html %}
    <!-- {% include 2024_data/about.html %} -->

    {% include 2024_data/sponsors.html %}
    {% include 2024_data/contact.html %}
    {% include 2024_data/footer.html %}
    {% include 2024_data/speakers_info.html %}
    {% include 2024_data/js.html %}

    </body>
</html>
